
    /* Styling the Body element i.e. Color,
    Font, Alignment */
body {
    background-color: #656565;
    font-family: Verdana, sans-serif;
    text-align: center;
}

/* Styling the Form (Color, Padding, Shadow) */
form {
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}
#form{
    border-radius: 10px;
}

/* Styling form-control Class */
.form-control {
    text-align: left;
    margin-bottom: 30px;
}

/* Styling form-control Label */
.form-control label {
    display: block;
    margin-bottom: 10px;
}

/* Styling form-control input,
select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

/* Styling form-control Radio
button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

/* Styling Button */
#submitForm {
    background-color: #05c46b;
    border: 1px solid #777;
    border-radius: 2px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}
#submitForm:hover{
    cursor: pointer;
    transition: 0.2s ease;
    background-color: rgba(5,196,107,0.8)
}
#submitForm a{
    font-family: inherit;
    font-size: 21px;
    text-decoration: none;
    margin: 10px;
    color: white;
}


