
body {
    background-color: #23242a;
    font-family: Verdana, sans-serif;
    text-align: center;
}
#main{
    align-content: center;
}

#itemContainer{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

#collection{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 25%;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 15px;
    box-shadow: #949494 2px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card:hover{
    transition: 0.2s ease;
    box-shadow: #00ff12 4px 4px;
}

.statCard{
    width: 75%;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
    box-shadow: #949494 2px 2px;
    height: 60px;

}
.otherContent{
    display: none;
}
.statCard:hover{
    transition: 0.2s ease;
    box-shadow: #00ff12 4px 4px;
}

#softwareRecommended{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;

}
.statCard.isOpen{
    height: 200px;
}

.recIcons:not(.activeImg){
    display: none;
}
.recIcons.activeImg{
    transition: 0.4s ease;
    display: block;
}

#overlay {
    position: fixed;
    display: none;
    width: 25%;
    height: 25%;
    top: 35%;
    left: 35%;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    border: black 2px;
    box-shadow: #949494 2px 2px;
}

#title{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}


.otherContent.active #softwareRecommended{
    display: flex;
    flex-direction: row;
}
.otherContent.active{
    display: block;
    text-align: center;
}

#priceValue, .price{
    color: green;
}

.header {
    color: #ffff;
}