
body {
    background-color: #656565;
    font-family: Verdana, sans-serif;
    text-align: center;
}
#main{
    align-content: center;
}

#itemContainer{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

#collection{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 25%;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 15px;
    box-shadow: black 2px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card:hover{
    transition: 0.2s ease;
    box-shadow: black 4px 4px;
}

.statCard{
    width: 75%;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
    box-shadow: black 2px 2px;
    height: 60px;

}
.otherContent{
    display: none;
}
.statCard:hover{
    transition: 0.2s ease;
    box-shadow: black 4px 4px;
}

#softwareRecommended{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;

}
.statCard.isOpen{
    height: 200px;
}

.recIcons:not(.activeImg){
    display: none;
}
.recIcons.activeImg{
    transition: 0.4s ease;
    display: block;
}


.otherContent.active{
    display: flex;
    flex-direction: row;
}

#priceValue, .price{
    color: green;
}

